.box {
    max-height: 100px;
    border: 1px solid black;
    overflow: scroll;
}

.mydivi {
    margin: 10px;
    min-height: 100px;
    border: 1px solid black;
}

.mydiv {
    height: 50px;
    border: 1px solid black;
    overflow: visible;
}